@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color:#2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container{
  flex-grow: 1;
}

.page-container{
  margin: 0 auto;
  width: 1170px;
}

/* Button */

.button{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: inherit;
  box-sizing: border-box;
  background-color: #FCFCFC;
  text-decoration: none;
  padding: 12px 32px;
  border: none;
  cursor: pointer;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:hover{
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
}

.button:focus{
  background-color: #FCFCFC;
  outline: 2px solid #2D3440;
}

.button:disabled{
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: rgba(252, 252, 252, 0.4);
}

/* Additional button */

.button-submit{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: none;
  text-decoration: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button-submit:hover{
  background-color: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  outline: 4px solid #FF2F64;
}

.button-submit:focus{
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.button-submit:active{
  background: #FEAFC3;
  outline: 2px solid #2D3440;
}

.button-submit:disabled{
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  color: #565C66;
}

/* catalog-filter-button */

.catalog-filter-button{
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  padding: 8px 32px;
  width: 185px;
  color: inherit;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FCFCFC;
}

.catalog-filter .catalog-filter-button{
  align-self: flex-end;
  margin-bottom: 2px;
}

.catalog-filter-button:hover{
  background-color: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.catalog-filter-button:active{
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.catalog-filter-button:focus{
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

.catalog-filter-button:disabled{
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #FCFCFC;
}

/* close-buttton */

.close-button{
  display: inline-block;
  height: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: none;
}

.close-icon{
  fill:#2D3440;
}

/* social-button */

.social-button{
  position: relative;
  display: block;
  text-decoration: none;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  padding: 12px;
}

.social-button:hover{
  background-color: #2D3440;
}

.social-button:focus{
  background-color: #2D3440;
  outline: 2px solid #2D3440;
}

.social-button:active{
  background-color: #2D3440;
  opacity: 0.5;
}


.social-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.social-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item{
  padding: 0;
  margin: 0;
  margin-left: 16px;
}


.social-item:first-child{
  margin-left: 0;
}

/* Page-header */

.navigation-header{
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
}

/* navigation */

.logo-link{
  display: block;
  margin: 24px 16px 19px 0;
  padding: 0;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 422px;
  margin-right: 164px;
  padding: 0;
  list-style-type: none;
}

.navigation-item{
  position: relative;
}

.navigation-user{
  display: flex;
  flex-wrap: wrap;
  max-width: 267px;
  padding: 0;
  margin-left: 16px;
  list-style-type: none;
  column-gap: 16px;
}

.navigation-link {
  position: relative;
  display: block;
  color:inherit;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
}

.navigation-link:hover{
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:focus{
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  outline: 2px solid #2D3440;;
}

.navigation-link:active{
  background-color: #FCFCFC;
  outline: none;
}

.navigation-link::before{
  padding-right: 38px;
}

.navigation-link .navigation-icon{
  right: 16px;
  left: auto;
}

.navigation-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #2D3440;
}

/* user-panel */

.search-button{
  border-radius: 27px;
  min-width: 32px;
}

.sign-in-button{
  border-radius: 30px;
  padding-left: 38px;
  padding-right: 16px;
}

.sign-in-button .user-panel-icon{
  right: auto;
  left: 16px;
  margin: auto 0;
}

.user-panel-item{
  position: relative;
}

.cart-panel-button{
  border-radius: 30px;
  padding-left: 38px;
  padding-right: 16px;
}

.cart-panel-button .user-panel-icon{
  right: auto;
  left: 16px;
  margin: auto 0;
}

.navigation-button {
  display: block;
  color:inherit;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  padding: 8px 38px 8px 16px;
}

.contacts-phone-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  width: 148px;
}

.user-panel-button {
  position: relative;
  color:inherit;
  background-color: rgba(252, 252, 252, 0.3);
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  min-height: 32px;
}

.user-panel-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-panel-button:focus{
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.user-panel-button:active{
  background-color: #FCFCFC;
}

.user-panel-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

/* slider */
/* Слайдер в грид */


.slider-list{
  display: flex;
  column-gap: 41px;
  width: 1100px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  list-style-type: none;
}

.slider-item{
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-item-next .slider-left-content,
.slider-item-next .slider-controls{
  display: none;
}


.slider-wrapper{
  width: 352px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 22px;
}

.slider-background{
  position: absolute;
  border-radius: 50%;
  height: 312px;
  background-color: #FFCBD8;
  z-index: -1;
  width: 312px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-controls{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button{
  position: relative;
  background: rgba(252, 252, 252, 0.3);
  height: 36px;
  width: 36px;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
}

.slider-button:hover{
  background: #FCFCFC;
}

.slider-button:hover .slider-icon{
  fill: #2D3440;
}


.slider-button:focus{
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}

.slider-button:focus .slider-icon{
  fill: #2D3440
}

.slider-button:active{
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:active .slider-icon{
  fill: #2D3440
}

.slider-next{
  transform: rotate(180deg);
}

.slider-item-next{
  padding-top: 204px;
  opacity: 40%;
}

.slider-item-next .slider-image{
  width: 100%;
  height: 150px;
}

.slider-item-next .slider-wrapper{
  margin:0;
  padding: 0;
  width: 100%;
}

.slider-item-next .slider-background{
  width: 100px;
  height: 100px;
}


.slider-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.slider-title{
  width: 470px;
  font-weight: 900;
  font-size: 36px;
  font-style: normal;
  line-height: 46px;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.slider-description {
  max-width: 429px;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.slider-left-content{
  margin-top: 136px;
}

.slider-pagination-list{
  width: 52px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-pagination-link{
  display: block;
  padding: 6px;
  border-radius: 100px;
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-pagination-link:hover{
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #FCFCFC;
}

.slider-pagination-link:focus{
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.slider-pagination-link:active{
  background-color: rgba(252, 252, 252, 0.7);
}

.slider-pagination-current{
  background-color: #FCFCFC;
}

.slider-pagination-item:last-child{
  margin: 0;
}

.slider-other{
  display: flex;
  justify-content: space-between;
}

.slider-image{
  display: block;
}


/* banner */

.banner-list{
  display: flex;
  padding: 0;
  list-style-type: none;
}

.banner-item{
  width:570px;
  padding: 36px;
  padding-right: auto;
  border-radius: 16px;
}

.banner-item:first-child{
  margin-right: 30px;
  background: #FF7799 url(../images/background-berry.png) no-repeat 351px;
}

.banner-item:last-child{
  background: #FF7799 url(../images/background-marshmallow.png) no-repeat 351px;
}

.banner-title {
  width: 434px;
  margin: 80px auto 55px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}


.banner-description{
  width: 304px;
  margin: 28px 0;
}

.banner-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}


/* product */
/* Карточки в грид */

.product-list{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 91px 30px;
  width: 1170px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.product-card-image{
  position: absolute;
  display: block;
  top: -51px;
  right: 51px;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.product-card {
  position: relative;
  width: 190px;
  background: #FCFCFC;
  list-style-type: none;
  border-radius: 8px;
  padding: 133px 40px 24px 40px;
}

.product-title {
  width: 527px;
  margin: 80px auto 55px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  padding-bottom: 56px;
}

.product-name {
  width: 190px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}

.product-description {
  width: 190px;
  font-size: 16px;
  text-align: center;
  margin: 8px auto 16px auto;
  color: #565C66;
}

.product-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.cart-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #FCFCFC;
}

.cart-button {
  position: relative;
  min-width: 32px;
  min-height: 32px;
  display: block;
  background: #FF2F64;
  color:#FCFCFC;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.cart-button:hover{
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #FF2F64;
}

.cart-button:hover .cart-icon{
  fill: #2D3440;
}

.cart-button:focus{
  background-color: #FF2F64;
  outline: 2px solid #2D3440;
}

.cart-button:active{
  background-color: #FFCBD8;
  outline: 2px solid #FF2F64;;
}

.cart-button:disabled{
  background: #B9B9B9;
  outline: none;
  color: #565C66;
}


/* advantages */

.advantages-background{
  width: 1122px;
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 24px;
  background: url(../images/background-advantages.png) no-repeat;
}

.advantages-container{
  width: 1042px;
  padding: 56px 40px;
  border-radius: 16px;
  background-color:#FFFFFF;
}

.advantages-title {
  margin: 0 0 56px;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-description {
  width: 442px;
  display: block;
  margin: 0;
  margin-left: auto;
  padding: 0;
  color: #565C66;
}

.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  width: 1042px;
  list-style-type: none;
}

.advantages-item{
  width: 506px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 48px 48px;
}

.advantages-item:nth-child(1){
  background-image: url(../images/icon/icecream-icon.svg);
}

.advantages-item:nth-child(2){
  background-image: url(../images/icon/cattle-icon.svg);
}

.advantages-item:nth-child(3){
  background-image: url(../images/icon/leaf-icon.svg);
}

.advantages-item:nth-child(4){
  background-image: url(../images/icon/thermometer-icon.svg);
}

/* additional */

.additional{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news{
  max-width: 570px;
  background: url(../images/background-news.png) no-repeat;
  background-position: left center;
  background-size: 643px;
  padding: 33px 235px 67px 32px;
  border-radius: 16px;
}

.news-title {
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin:0;
  padding:0;
}

.news-caption {
  line-height: 20px;
  color: #565C66;
  margin:0;
  margin-bottom: 12px;
  padding: 0;
}

.email-appoitment-background{
  background: url(../images/background-email.png) no-repeat;
  background-size: 570px 224px;
}

.email-appoitment{
  max-width: 570px;
  margin: 6px;
  padding: 26px;
  padding-bottom: 25px;
  background-color: #FFFFFF;
  border-radius: 16px;
}


.appoitment-description {
  width: 506px;
  color: #565C66;
  margin-top: 0;
  margin-bottom: 44px;
}

/* delivery */

.delivery{
  display: flex;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;
  background: url(../images/background-delivery.png) no-repeat;
  border-radius: 16px;
}

.delivery .button-submit{
  grid-column: -2 / -1;
  justify-self: start;
  width: 152px;
  margin-top: 12px;
}

.delivery-item{
 width: 371px;
 padding-top: 79px;
}

.delivery-info{
  margin: 0;
  margin-bottom: 32px;
  color: #565C66;
}

.delivery-label, .delivery-field-group{
  margin: 0;
  display: flex;
  flex-direction: column;
}

.delivery-form-section{
  background-color: #FCFCFC;
  width: 420px;
  margin-left: auto;
  padding: 40px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.delivery-form{
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-address{
  grid-column: 1 / -1;
}

.delivery-title{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 24px 0;
}


.delivery-description {
  color: #565C66;
}

/* address */

.address-container{
  background: url(../images/background-contacts.jpg) no-repeat;
  padding: 64px;
  border-radius: 16px;
}

.contacts{
  background-color: #FCFCFC;
  width: 263px;
  margin: 0;
  padding: 40px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-list{
  margin: 0;
  padding: 0;
}

.contacts-description {
  width: 250px;
  margin: 11px 0;
  padding: 0;
  color: #565C66;
}

.contacts-description:first-child{
  margin-top: 0;
}

.contacts-description:last-child{
  margin-bottom: 12px;
}

.contacts-address {
  width: 263px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  padding-bottom: 12px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  padding-right: 38px;
  width: 225px;
}

.contacts-inscription{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  width: 160px;
}

.contacts .button-submit{
  margin-top: 20px;
  width: 250px;
}

/* page-footer */

.page-footer a{
  color:#2D3440;
}

.page-footer-container{
  display: flex;
  justify-content: space-around;
  width: 1170px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 21px;
}

/* social-list for footer */

.social-footer{
  max-width: 190px;
  margin: 0;
}

.footer-social-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item{
  min-width: 24px;
  min-height: 24px;
  margin-left: 16px;
  background-color: #FCFCFC;
}

.footer-social-item:first-child{
  margin-left: 0;
}

/* navigation for footer */
/* Навигацию в грид */

.footer-navigation-list{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 8px;
  width: 356px;
  list-style-type: none;
  margin-top: 0;
  margin-left: 259px;
  padding: 0;
}


.footer-navigation-link{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer-navigation-link:nth-child(1n){
  padding-left: 24px;
}

.suppliers{
  background-image: url(../images/icon/Heart-fill.svg);
  background-position: center left;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

/* last <div> in footer
 with logo and caption */

.footer-logo{
  max-width: 200px;
  margin-left: auto;
}

.footer-caption{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 7px 0;
}

.footer-logo-link{
  text-decoration: none;
  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* catalog */

.inner-header-title{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.catalog-filter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 16px;
  min-width: 823px;
  margin-bottom: 95px;
}

.catalog-filter-group{
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(2){
  margin-right: 24px;
}
.catalog-filter-group:nth-child(4){
  width: 604px;
  margin-right: 16px;
}

.catalog-filter-title{
  margin-left: 16px;
  margin-bottom: 8px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-label{
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.catalog-filter-list{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  padding: 8px 0px;
  margin: 0;
}

.catalog-filter-group:nth-child(4) .catalog-filter-list{
  padding: 10px 2px;
}

.catalog-filter-item{
  margin-right: 14px;
}

.catalog-filter-item:first-child{
  margin-left: 24px;
}

.catalog-filter-item:last-child{
  margin-right: 24px;
}



/* select */

.control-group{
  width: 198px;
  padding: 7px 40px 7px 16px;
  margin: 0;
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 18px;
  background-image: url("../images/icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.control-group:hover{
  background-color: rgba(252, 252, 252, 0.5);
}

.control-group:focus{
  background-color: rgba(252, 252, 252, 0.4);
  outline: 2px solid #FCFCFC;
}


/* range */

.range{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 17px 16px;
  border-radius: 20px;
}

.range-scale{
  position:relative;
  height: 2px;
  width: 164px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 2px;
}

.range-bar{
  position: absolute;
  opacity: 255;
  height: 2px;
  background-color: #565C66;
}

.range-pin{
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  padding: 0;
  background-color: #FCFCFC;
  border: 6px solid #2D3440;
  border-radius: 50%;
}

.range-min{
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.range-max{
  left: 72px;
  top: 50%;
  transform: translateY(-50%);
}

.range-pin:hover{
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
}

.range-pin:active{
  background-color: #2D3440;
  border: 6px solid #2D3440;
}

.range-pin:focus{
  background-color: #2D3440;
  border: 6px solid #FCFCFC;
  outline: 2px solid #2D3440;
}


/* checkboxes */


.control-marker{
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
}

.control-input[type="checkbox"]:checked + .control-marker .control-marker-checked,
.control-input[type="checkbox"] + .control-marker .control-marker-unchecked{
  display: block;
}

.control-input[type="checkbox"]:checked + .control-marker .control-marker-unchecked,
.control-input[type="checkbox"] + .control-marker .control-marker-checked {
  display: none;
}

.control-input[type="radio"]:checked + .control-marker .control-marker-checked,
.control-input[type="radio"] + .control-marker .control-marker-unchecked{
  display: block;
}

.control-input[type="radio"]:checked + .control-marker .control-marker-unchecked,
.control-input[type="radio"] + .control-marker .control-marker-checked {
  display: none;
}

.control-marker-checked, .control-marker-unchecked {
  fill: #2D3440;
}

.control-label:hover .control-marker-checked, .control-label:hover .control-marker-unchecked {
  fill: #FCFCFC;
}

.control-label:disabled .control-marker-checked, .control-label:disabled .control-marker-unchecked {
  fill: rgba(45, 52, 64, 0.5);
}


/* breadcrumbs */

.inner-header{
  color:inherit;
  margin-bottom: 40px;
}

.breadcrumbs-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 16px;
}

.breadcrumbs-item{
  background: url(../images/icon/chevrons-right.svg) no-repeat;
  background-position: right center;
  background-size: 12px 12px;
  margin-right: 7px;
}

.breadcrumbs-link{
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  margin-right: 21px;
}

.breadcrumbs-current{
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs-item:last-child{
  background: none;
}

.control-label{
  display: flex;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-left: 25px;
}

/* pagination */

.pagination-container{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 74px;
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

.pagination-list{
  display: flex;
  list-style-type: none;
  margin-left: auto;
  padding: 0;
}

.pagination-item{
  position: relative;
}

.pagination-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #2D3440;
}

.pagination-disabled .pagination-icon{
  fill: rgba(45, 52, 64, 0.3);
}

.pagination-prev .pagination-icon {
  transform: rotate(180deg);
}

.pagination-arrow{
  display:block;
  width: 24px;
  height: 16px;
}

.pagination-link{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2px 4px;
  min-width: 24px;
  line-height: 20px;
  color: inherit;
  border-radius: 50px;
  text-decoration: none;
}

.pagination-link:hover{
  background-color: rgba(252, 252, 252, 0.5);
}

.pagination-link:focus{
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2D3440;
}

.pagination-link:active{
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #FCFCFC;
}

.pagination-current{
  background-color:#FCFCFC;
}

.pagination-button{
  display: inline-block;
  width: 179px;
  margin-left: 488px;
}

/* forms */

.field{
  font-family: 'Inter';
  font-style: normal;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  background-color: #FFFFFF;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  padding: 14px 16px;
  border: none;
}

.field:hover{
  outline: 1px solid #2D3440;
}

.field:focus{
  outline: 2px solid #2D3440;
}

.field:invalid{
  outline: 1px solid #EA5454;
}

.field:invalid:focus{
  outline: 2px solid #EA5454;
}

.field:disabled{
  background: #E7E7E7;
  outline: 1px solid #B9B9B9;
}

.field::placeholder{
  color: #B9B9B9;
}

.appoitment-form .field{
  width: 332px;
  margin-right: 18px;
}


/* popovers */

.popover{
  display: none;
}

.popover-content{
  height: 100%;
}

/* catalog popover */

.popover-catalog{
  position: absolute;
  top: 100%;
  left: -66px;
  transform: translateX(50%);
  z-index: 1;
  box-sizing: border-box;
  width: 135px;
  min-height: 188px;
  padding: 8px 0px;
  margin-top: 8px;
  background-color: #FCFCFC;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.popover-catalog-list{
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popover-catalog-item{
  margin: 0;
  padding: 0;
}

.popover-catalog-link{
  display: block;
  width: 106px;
  padding: 6px 13px 6px 16px;
  color: inherit;
  text-decoration: none;
}

.popover-catalog-link:hover{
  background: #FFCBD8;
}

.popover-catalog-link:active{
  background: #FF7799;
}

.popover-catalog-current{
  background: #FF4A78;
  color: #FCFCFC;
}

.popover-catalog-item:first-child{
  font-weight: 700;
  padding-bottom: 2px;
}

.popover-catalog-decorative{
  width: 103px;
  height: 1px;
  margin: 3px 16px;
  background-color: #B9B9B9;
}

/* popover search */

.popover-search{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 356px;
  min-height: 96px;
  padding: 24px 16px;
  margin-top: 8px;
  background-color: #FCFCFC;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
}

.popover-search .field{
  width: 100%;
}

/* popover sign-in */

.popover-sign-in{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 420px;
  padding: 48px;
  padding-bottom: 52px;
  margin-top: 8px;
  background-color: #FCFCFC;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.popover-sign-in-title{
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.sign-in-label .field{
  width: 289px;
  margin-bottom: 16px;
}

.enter-container{
  margin-top: 16px;
  display: flex;
  column-gap: 23px;
  align-items: center;
  justify-content: flex-start;
}

.sign-in-link{
  width: 100%;
  line-height: 19px;
  border-bottom: 1px solid #2D3440;;
  text-decoration: none;
  color: inherit;
}

/* cart popover */


.popover-cart{
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 441px;
  padding: 48px;
  margin-top: 8px;
  background-color: #FCFCFC;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.popover-cart-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.popover-cart-item:last-child{
  padding-bottom: 31px;
  border-bottom: 1px solid #E7E7E7;
}

.cart-price-total{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
}

.cart-total{
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-total .button{
  width: 198px;
}

.popover-cart-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popover-cart-image{
  display: block;
  border-radius: 50%;
  margin-top: 0;
  margin-right: 16px;
  padding: 0;
}

.cart-details{
  display: flex;
  flex-direction: column;
}

.cart-name{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
}

.cart-calculation{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.cart-price{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
}

.cart-right-content{
  display: flex;
  column-gap: 52px;
  align-items: center;
  margin-left: auto;
}

.popover-cart-title{
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/* popover buttons status */

.current-drop{
  background-color: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
}

.current-drop .navigation-icon{
  fill: #FCFCFC;
}

.current-drop .user-panel-icon{
  fill: #FCFCFC;
}

.current-drop:hover{
  opacity: 0.6;
}

.current-drop:focus{
  outline: 2px solid #000000;
}

.current-drop:active{
  opacity: 0.3;
}

/* modal-container */

.modal .close-button{
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  margin-top: 32px;
  margin-right: 32px;
}

.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 52, 64, 0.3);
}

.modal-container-close {
  display: none;
}

.modal{
  position:relative;
  margin: auto;
  padding: 64px;
  padding-bottom: 66px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-title{
  margin-top: 0;
  margin-bottom: 32px;
}

.modal-form{
  display: flex;
  flex-direction: column;
}

.modal-label .field{
  width: 442px;
  margin-bottom: 16px;
}

.fieldarea{
  resize: none;
}

.modal-content .button{
  margin-top: 16px;
  margin-left: auto;
}

/* tooltip */

.tooltip{
  position: relative;
}

.tooltip-toggle{
  margin-top: 4px;
  margin-left: 4px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: block;
}

.form-label{
    margin: 0;
    font-weight: 700;
    padding-bottom: 4px;
    display: flex;
}

.form-label-icon{
  position: relative;
  padding-right: 16px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text {
  position:absolute;
  top: -50%;
  left: 30px;
  background: #FCFCFC;
  color: #565C66;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: none;
  border: 1px solid #B9B9B9;
  padding: 8px 10px;
  border-radius: 1px;
  display: block;
  width: 162px;
  box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
  z-index: 1;
  display: none;
}

.tooltip-text:after {
  content: '';
    width: 14px;
    height: 14px;
    top: 14px;
    left: -8px;
    position: absolute;
    background-color: #FCFCFC;
    border-bottom: 1px solid #B9B9B9;
    border-left: 1px solid #B9B9B9;
    transform: rotate(45deg);
}
