@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html{
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  color:#2D3440;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container{
  flex-grow: 1;
}

.page-container{
  margin: 0 auto;
  width: 1170px;
}

.button{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: inherit;
  background-color: #FCFCFC;
  min-height: 44px;
  text-decoration: none;
}

.social-button{
  min-width: 24px;
  min-height: 24px;
  background-color: #FCFCFC;
  color:#2D3440;
  text-decoration: none;
}

.social-list{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.social-item{
  min-width: 24px;
  min-height: 24px;
  margin-left: 16px;
  background-color: #FCFCFC;
}


.social-item:first-child{
  margin-left: 0;
}

.button-submit{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
  text-decoration: none;
}

/* Page-header */
.page-header {
  color: #2D3440;
}

.navigation-header{
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
}

.logo-link{
  display: block;
  margin: 24px 16px 19px 0;
  padding: 0;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  width: 422px;
  margin-right: 164px;
  padding: 0;
  list-style-type: none;
}

.navigation-user{
  display: flex;
  flex-wrap: wrap;
  max-width: 267px;
  padding: 0;
  margin-left: 16px;
  list-style-type: none;
  column-gap: 16px;
}

.navigation-link {
  display: block;
  color:inherit;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  padding: 8px 16px;
}

.sign-in-button{
  min-width: 88px;
}

.search-button{
  min-width: 32px;
}

.cart-panel-button{
  min-width: 32px;
}

.navigation-button {
  display: block;
  color:inherit;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: none;
  padding: 8px 38px 8px 16px;
}

.contacts-phone-link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  width: 148px;
}

.user-panel-button {
  display: block;
  color:inherit;
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  border: none;
  min-height: 32px;
}

/* slider */
/* Слайдер в грид */
.slider-title{
  width: 470px;
  font-weight: 900;
  font-size: 36px;
  font-style: normal;
  line-height: 46px;
  margin: 0 ;
  padding: 0;
}
.slider-description {
  max-width: 429px;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 48px;
  padding: 0;
}

.slider-list{
margin: 0;
padding: 0;
text-align: left;
color: #2D3440;
list-style-type: none;
}

.slider-item{
  display: flex;
  width: 1100px;
  margin-left: 70px;
}

.slider-container{
  margin: 136px 5px 0 0;
}

.slider-pagination-list{
  width: 52px;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item{
  margin-right: 8px;
}

.slider-pagination-link{
  display: block;
  padding: 6px;
  background-color: #FCFCFC;
}

.slider-pagination-item:last-child{
  margin: 0;
}

.slider-other{
  display: flex;
  justify-content: space-between;
}

/* banner */

.banner-list{
  display: flex;
  padding: 0;
  list-style-type: none;
}

.banner-item{
  width:570px;
  padding: 36px;
  padding-right: auto;
}

.banner-item:first-child{
  margin-right: 30px;
  background: #FF7799 url(../images/background-berry.png) no-repeat 351px;
}

.banner-item:last-child{
  background: #FF7799 url(../images/background-marshmallow.png) no-repeat 351px;
}

.banner-title {
  width: 434px;
  margin: 80px auto 55px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}


.banner-description{
  width: 304px;
  margin: 28px 0;
}

.banner-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}


/* product */
/* Карточки в грид */

.product-list{
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  width: 1170px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.product-card-image{
  display: block;
  margin: 0 auto;
}

.product-card {
  width: 190px;
  background: #FCFCFC;
  list-style-type: none;
  padding: 0 40px 24px 40px;
}

.product-title {
  width: 527px;
  margin: 80px auto 55px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.product-name {
  width: 190px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-top: 16px;
}

.product-description {
  width: 190px;
  font-size: 16px;
  text-align: center;
  margin: 8px auto 16px auto;
  color: #565C66;
}

.product-other{
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.cart-button {
  min-width: 32px;
  min-height: 32px;
  display: block;
  background: #FF2F64;
  color:#FCFCFC;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

/* advantages */

.advantages{
  width: 1122px;
  margin-bottom: 80px;
  padding: 24px;
  background: url(../images/background-advantages.png) no-repeat;
}

.advantages-container{
  width: 1042px;
  margin: 0;
  padding: 56px 40px;
  background-color:#FFFFFF;
}

.advantages-title {
  margin: 0 0 56px;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantages-description {
  display: block;
  margin: 0;
  padding: 0;
  color: #565C66;
}

.advantages-list{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  width: 1042px;
  list-style-type: none;
}

.advantages-item{
  width: 506px;
}


/* additional */

.additional{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.news{
  max-width: 570px;
  background: url(../images/background-news.png) no-repeat;
  background-position: left center;
  background-size: 643px;
  padding: 33px 235px 67px 32px;
}

.news-title {
  width: 303px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin:0;
  padding:0;
}

.news-caption {
  line-height: 20px;
  color: #565C66;
  margin:0;
  margin-bottom: 12px;
  padding: 0;
}

.email-appoitment{
  max-width: 570px;
  padding: 26px;
  padding-bottom: 28px;
  background-color: #FFFFFF;
}

.appoitment-description {
  width: 506px;
  color: #565C66;
  margin-top: 0;
  margin-bottom: 44px;
}

/* delivery */

.delivery{
  display: flex;
  padding: 64px;
  padding-left: 100px;
  margin-bottom: 80px;
  background: url(../images/background-delivery.png) no-repeat;
}

.delivery .button-submit{
  grid-column: -2 / -1;
  justify-self: start;
  width: 152px;
  height: 44px;
}

.delivery-item{
 width: 371px;
}

.delivery-label{
  display: flex;
  flex-direction: column;
}

.delivery-form-section{
  background-color: #FCFCFC;
  width: 420px;
  margin-left: auto;
  padding: 40px;
}

.delivery-form{
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-address{
  grid-column: 1 / -1;
}

.delivery-title{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

.delivery-label-title{
  font-weight: 700;
}

.delivery-description {
  color: #565C66;
}

/* address */

.address-container{
  background: url(../images/background-contacts.jpg);
  padding: 64px;
}

.contacts{
  background-color: #FCFCFC;
  width: 263px;
  margin: 0;
  padding: 40px;
}

.contacts-description {
  width: 250px;
  margin: 12px 0;
  padding: 0;
  color: #565C66;
}

.contacts-description:first-child{
  margin-top: 0;
}

.contacts-description:last-child{
  margin-bottom: 32px;
}

.contacts-address {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  padding-right: 38px;
  width: 225px;
}

.contacts-inscription{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  width: 160px;
}

.contacts .button-submit{
  width: 250px;
  height: 44px;
}

/* page-footer */

.page-footer a{
  color:#2D3440;
}

.page-footer-container{
  display: flex;
  justify-content: space-around;
  width: 1170px;
  margin: 0 auto;
  padding-top: 48px;
}

/* social-list for footer */

.social-footer{
  max-width: 190px;
  margin: 0;
}

.footer-social-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item{
  min-width: 24px;
  min-height: 24px;
  margin-left: 16px;
  background-color: #FCFCFC;
}

.footer-social-item:first-child{
  margin-left: 0;
}

/* navigation for footer */
/* Навигацию в грид */

.footer-navigation-list{
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 8px;
  width: 356px;
  list-style-type: none;
  margin-top: 0;
  margin-left: 260px;
}


.footer-navigation-link{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.suppliers{
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

/* last <div> in footer
 with logo and caption */

.footer-logo{
  max-width: 200px;
  margin-left: auto;
}

.footer-caption{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 18px 0;
}

/* catalog */

.inner-header-title{
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.catalog-filter{
  display: flex;
  flex-wrap: wrap;
  width: 823px;
  margin-bottom: 28px;
}

.catalog-filter-group{
  padding: 0;
  margin-right: 24px;
  margin-bottom: 16px;
}

.catalog-filter-group:nth-child(4){
  width: 604px;
  margin-right: 16px;
}

.catalog-filter-title{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 2px;
}

.catalog-filter-label{
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  margin-right: 24px;
  margin-bottom: 16px;
}

.catalog-filter-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item{
  margin-right: 16px;
}

.catalog-filter-item:first-child{
  margin-left: 24px;
}

.catalog-filter-item:last-child{
  margin-right: 24px;
}


/* breadcrumbs */

.inner-header{
  color:inherit;
  margin-bottom: 40px;
}

.breadcrumbs-list{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}

.breadcrumbs-link{
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  margin-right: 28px;
}

.breadcrumbs-item:last-child{
  text-decoration: underline;
}

.control-label{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

/* pagination */

.pagination-container{
  display: flex;
}

.pagination-list{
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.pagination-link{
  display: block;
  line-height: 20px;
  color: inherit;
  padding: 2px 8px;
}

.pagination-current{
  background-color:#FCFCFC;
}

.pagination-button{
  display: block;
  margin-left: auto;
  padding: 12px 32px;
}
